<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 
<router-outlet></router-outlet>

<div>
    <button #myButton>BOTON</button>
    <p>Nombre del Empleado:{{nombre}}</p>
    <p>Edad:{{edad}}</p>  
    <p *ngIf="edad>=18; else menor">Es mayor de edad.</p>
    <ng-template #menor><p>Es un menor de edad.</p></ng-template>
    <table>
        <tr>
        <td>Sueldos</td>
        </tr>
        <tr *ngFor="let sueldo of sueldos">
        <td>{{sueldo}}</td>
        </tr>
    </table>
</div>

    <h4>HOla</h4>
    <img [src]="imgUrl" alt="">     

